<!DOCTYPE HTML>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENTERPRISEWEB</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Vidaloka|Cabin" rel="stylesheet">
</head>
<body>
    <header class="navbar">
            <a href="/">
                <img class="img-size" src="images/image_enterpriseweb.png" alt="logo">
            </a>
    </header>
    <main>
        <div class="container">
            <article class="content">
                <h1>Enterpriseweb to aplikacja do prowadzenia Twojego mikroprzedsiębiorstwa.</h1>
                <h2>Zarejestruj się i korzystaj z możliwości jakie daje Ci aplikacja, zarządzaj swoim mikroprzedsiębiorstwem gdzie tylko chcesz</h2>
                <div class="btn-group">
                    <a href="login" class="btn btn-primary">Zaloguj</a>
                    <a href="register" class="btn btn-primary">Rejestracja</a>
                </div>
            </article>
        </div>
    </main>
</body>
</html>