<!DOCTYPE HTML>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENTERPRISEWEB</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="css/style_sign_in.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 box">
                <div class="header-box">
                    <a href="/"><img src="images/image_enterpriseweb.png" alt="logo-enterprise"></a>
                </div>
                <form role="form" method="post" action="/login">
                    <div class="group">
                        <input type="text" name="email" class="inputMaterial" id="email" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="emailAdress">Podaj adres email</label>
                    </div>
                    <div class="group">
                        <input type="password" name="password" class="inputMaterial" id="password" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="password">Podaj hasło</label>
                    </div>
                    <div class="group">
                        <span class="danger-text align-middle"><%= loginError %></span>
                        <span class="danger-text align-middle"><%= passwordError %></span>
                    </div>
                    <div class="group-bottom">
                        <button type="submit" class="btn"><span>Zaloguj</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>